        h2{
        color: #585858;
        font-size: 50px;
        margin: 45px;
        text-align: center;
        font-family: "Helvetica Neue";
        }

        p{
        color: #6799a3;
        font-size: 25px;
        margin: 24px;
        text-align: center;
        font-family: Times;
        }
       body {
        background-image: url('https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/p720x720/88228463_2809104092514573_6708160611890495488_o.jpg?_nc_cat=108&_nc_sid=8024bb&_nc_ohc=2TjiVVnPoIcAX-E-9LO&_nc_ht=scontent-sea1-1.xx&_nc_tp=6&oh=467061dbdfbf5920ce9ecc1e93e56773&oe=5E984880');
        background-color: #cccccc;
       }

